<!doctype html>
<title>Welcome to the ISS Distance Calculator</title>


<h1 style="text-align:center;">Hi there!</h1>



<h1 style="text-align:center;">{{value1}}</h1>

<h1 style="text-align:center;">{{value2}}</h1>

<h1 style="text-align:center;">{{value3}}</h1>



<p style="text-align:center;">Created By Levi Kidder</p>
<p style="text-align:center;">levikidder@knights.ucf.edu</p>

<a href="https://www.linkedin.com/in/levikidder"><p style="text-align:center;">Check out my LinkedIn!</p></a>
<a href="levikidder.herokuapp.com/resume"><p style="text-align:center;">Check out my resume!</p></a>