<!doctype html>
<title>Welcome to the ISS Distance Calculator</title>


<h1 style="text-align:center;">Hi there!</h1>



<h1 style="text-align:center;">{{value1}}</h1>

<h1 style="text-align:center;">{{value2}}</h1>

<h1 style="text-align:center;">{{value3}}</h1>



<p style="text-align:center;">Created By Levi Kidder</p>
<a href="mailto:levikidder@Hotmail.com"><p style="text-align:center;">LeviKidder@Hotmail.com</p></a>
<a href="https://play.google.com/store/apps/details?id=com.levikidder.diceroller"><p style="text-align:center;">Check out my Android App on Google Play!</p></a>
<a href="https://github.com/LeviKidder"><p style="text-align:center;">Check out my GitHub!</p></a>
<a href="https://www.linkedin.com/in/levikidder"><p style="text-align:center;">Check out my LinkedIn!</p></a>
<a href="/resume"><p style="text-align:center;">Check out my resume!</p></a>
